<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="__CSS__/global.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/main.css">
</head>
<body id="iframe-body">
	<div class="main">
		<div class="today">
			<div class="today-left">
				<div class="today-left-content">
					<ul>
						<li>
							<a href="###">
								<span>
									<i class="icon"></i>
									<em class="number">0</em>
									<i class="title">最新消息</i>
								</span>
							</a>
						</li>
						<li>
							<a href="###">
								<span>
									<i class="icon"></i>
									<em class="number">22</em>
									<i class="title">新进会员</i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="today-right">
				<div class="today-right-content">
					<ul>
						<li>
							<a href="###">
								<span>
									<i class="icon"></i>
									<em class="number">33</em>
									<i class="title">今日订单</i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="home-box">
			<div class="home-box-left">
				<dl>
					<dt>最新公告<span><a href="#">更多>></a></span></dt>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
				</dl>
			</div>
			<div class="home-box-right">
				<dl>
					<dt>最新公告<span><a href="#">更多>></a></span></dt>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
					<dd><a href="#">最新公告,新闻,订单消息<i class="new"></i><span>2016-02-03</span></a></dd>
				</dl>
			</div>
		</div>
	</div>
</body>
</html>