@charset 'utf-8';
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,h1,ul,dl,dd,td,th,img
{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif,"Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","\9ED1\4F53",Arial;
	color: #222;
	font-size: 14px;
	background-color: #e7e8eb;
}



/*
*	绿色			#44b549
*	灰色边框		#d9dadc
*	灰色背景		#e7e8eb
*	蓝色链接		#459ae9
*	标题栏背景	#f4f5f9 1px solid #e7e7eb
*/

ul,ol{
	list-style: none;
}

a{
	color:#459ae9;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

#iframe-body{
	background: #fff;
}
.main{
	padding:20px;
}

.btn{
	display: inline-block;
	overflow: visible;
	height: 30px;
	line-height: 30px;
	*line-height: 28px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	cursor: pointer;
	min-width: 60px;
}
.btn_primary{
    background-color: #44b549;
    background-image: -moz-linear-gradient(top,#44b549 0,#44b549 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#44b549),to(#44b549));
    background-image: -webkit-linear-gradient(top,#44b549 0,#44b549 100%);
    background-image: -o-linear-gradient(top,#44b549 0,#44b549 100%);
    background-image: linear-gradient(to bottom,#44b549 0,#44b549 100%);
    border-color: #44b549;
    color: #fff;
}
.btn_primary:hover{
	background-color: #2f9833;
	background-image: -moz-linear-gradient(top,#2f9833 0,#2f9833 100%);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#2f9833),to(#2f9833));
	background-image: -webkit-linear-gradient(top,#2f9833 0,#2f9833 100%);
	background-image: -o-linear-gradient(top,#2f9833 0,#2f9833 100%);
	background-image: linear-gradient(to bottom,#2f9833 0,#2f9833 100%);
	border-color: #2f9833;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #fff;
}
.btn_primary input[type=submit]{
    color: #fff;
    font-size:14px;
}
.btn_primary input,.btn_primary a,.btn_primary button{
	cursor:pointer;
}

.btn_default{
	background-color: #fff;
	background-image: -moz-linear-gradient(top,#fff 0,#fff 100%);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#fff));
	background-image: -webkit-linear-gradient(top,#fff 0,#fff 100%);
	background-image: -o-linear-gradient(top,#fff 0,#fff 100%);
	background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
	border-color: #e7e7eb;
	color: #222;
}
.btn_default:hover {
    background-color: #e7e7eb;
    background-image: -moz-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#e7e7eb),to(#e7e7eb));
    background-image: -webkit-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);
    background-image: -o-linear-gradient(top,#e7e7eb 0,#e7e7eb 100%);
    background-image: linear-gradient(to bottom,#e7e7eb 0,#e7e7eb 100%);
    border-color: #dadbe0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #222;
}
.btn_default input[type=button]{
    color: #222;
    font-size:14px;
    cursor:pointer;
}

.btn input[type=submit]{
    width: 100%;
    display: block;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: visible;
    padding: 0 22px;
}
.btn input[type=button]{
    width: 100%;
    display: block;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: visible;
    padding: 0 22px;
}
.btn a{
	/* width:100%;
	height:100%;*/
	display:block; 
	text-decoration: none;
	padding:0 22px;
}
.btn_default a{
	color:#999;
}

.address{
	padding: 8px 15px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	line-height: 16px;
	color:#666;
	overflow: hidden;
}
.address ul{
	float: left;
}
.address ul li{
	display: inline-block;
}
.address ul li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.address span{
	float: right;
}

.table{
	width: 100%;
	text-align: center;
	background:#e7e8eb;
}
.table td{
	padding:10px;
	font-size:12px;
	color:#666;
}
.table tr{
	background: #fff;
}
.table tr:hover{
	background: #f9f9f9;
}
.table th{
	background: #f4f5f9;
	padding:12px;
}
input[type=radio]{
	width: auto !important;
	height:auto !important;
}
.w100{
	width:100% !important;
}
input[type=checkbox]{
	width:auto  !important;
	height:auto !important;
}



