@charset 'utf-8';

#head{
	height: 60px;
	border-top: 4px solid #44b549;
	border-bottom: 1px solid #d9dadc;
	background-color: #fff;

}
h1{
	height:55px;
	line-height: 55px;
	font-size: 26px;
	font-weight: 400;
	float: left;
	padding:0 1em;
	background: url(../images/logo.png) 20px 6px no-repeat;
	text-indent: 2em;
}
h1 a{
	color:#222;
	width:100%;
	height:100%;
	display: block;
}
h1 a:hover{
	color:#459ae9;
	text-decoration: none;
}
ul{
	height:55px;
	line-height: 55px;
}
ul.nav{
	float: left;
	z-index: 999;
}
ul.nav li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-right: -4px;
}
ul.nav li a{
	font-size: 18px;
	color:#666;
	text-align: center;
	width:100px;
	height:100%;
	display: block;

}
ul.nav li a:hover{
	text-decoration: none;
	background: #f4f5f9;
	color:#222;
}
ul.nav li.active a{
	background: #f4f5f9;
}



ul.subnav{
	float:right;
	text-align: right;
	padding-right: 2em;
}
ul.subnav li{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 1em;
}
ul.subnav li a{

}
ul.subnav li a:hover{

}


#main{
	padding:20px;
	hieght:100%;
}
#main2{
	border:1px solid #d9dadc;
	background: #fff;
}

#left{
	float:left;
	width:210px;
	height:100%;
	overflow:hidden;
	border-right: 1px solid #e7e7eb;
}
#iframe{

}

dl.menu{
	padding-bottom: 6px;
	padding-top: 30px;
	display: none;
}
dl.menu:first-child{
	display:block;
}
dl.menu dt{
	position: relative;
	padding: 0 30px 0;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	line-height: 34px;
	*font-size: 14px;
	color: #8d8d8d;
}
dl.menu dt i{
	margin-right: 10px;
	margin-top: -0.2em;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	display: inline-block;
	background: url(../images/index-dldt.png) no-repeat;
}
dl.menu dd{
	line-height: 34px;
}
dl.menu dd:hover{
	background: #f4f5f9;
}
dl.menu dd.on{
	background: #44b549;
}
dl.menu dd.on a{
	color:#fff;
}
dl.menu dd a{
	display: block;
	padding: 0 0 0 58px;
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	color: #222;
	text-decoration: none;
}












