@charset 'utf-8';

#content{
	line-height: 0;
	text-align: center;
	margin-bottom: 6em;
}



#content{
	text-align: center;
}
#content img{
	max-width: 100%;
}

#content .headImg{
	line-height: 0;
	background: #f7f7f0;
}