<extend name="Base:base" />
<block name="title">关于_</block>
<block name="keywords">关于图森</block>
<block name="description">关于图森</block>
<block name="css">
	<link rel="stylesheet" href="__CSS__/about.css">
	<link rel="stylesheet" href="__CSS__/subnav.css">
</block>
<block name="main">
	<div class="pageHead"></div>
	<div class="container">
		<ul class="subNav">
			<li><a class="active" href="__APP__/about/">关于图森</a></li>
			<li><a href="__APP__/about/join/">加入我们</a></li>
		</ul>
	</div>
	<foreach name="about" item="v">
	<div id="banner">
		<div class="text">
			<h4>{$v.banner_title}</h4>
			<p>{$v.banner_info}</p>
		</div>
		<img src="__IMG__/about_banner.jpg" alt="关于图森" />
	</div>
	<!-- 关于图森 -->
	<div class="about container">
		<div class="top">
			<h3 class="title">{$v.about_title}</h3>
			<p class="info">
				{$v.about_info}
			</p>
		</div>
		<ul class="about_ul">
			<li>
				<img src="__IMG__/about_about1.jpg" alt="">
				<h4 class="name">{$v.about_p1_title}</h4>
				<p class="description">
					{$v.about_p1_info}
				</p>
			</li>
			<li>
				<img src="__IMG__/about_about2.jpg" alt="">
				<h4 class="name">{$v.about_p2_title}</h4>
				<p class="description">
					{$v.about_p2_info}
				</p>
			</li>
			<li>
				<img src="__IMG__/about_about3.jpg" alt="">
				<h4 class="name">{$v.about_p3_title}</h4>
				<p class="description">
					{$v.about_p3_info}
				</p>
			</li>
		</ul>
	</div>
	<div class="hr"></div>
	<!-- 合作伙伴 -->
	<div class="case container">
		<div class="top">
			<h3 class="title">{$v.partner_title}</h3>
			<p class="info">
				{$v.partner_info}
			</p>
		</div>
		<ul class="case_ul">
			<foreach name='partner' item='vo'>
			<li><a href="{$vo.url}"><img src="{$vo.thumbnail}" alt="{$vo.name}" title="{$vo.name}"></a></li>
			</foreach>
		</ul>
	</div>
	<div class="hr"></div>
	<!-- 团队 -->
	<div class="team container">
		<div class="top">
			<h3 class="title">{$v.team_title}</h3>
			<p class="info">
				{$v.team_info}
			</p>
		</div>
		<ul class="team_ul">
			<foreach name='team' item='vo'>
			<li>
				<img src="{$vo.thumbnail}" alt="{$vo.name}" title="{$vo.name}" />
				<h4 class="name">{$vo.en_name}</h4>
				<p class="description">{$vo.job}</p>
			</li>
			</foreach>
		</ul>
	</div>
	</foreach>
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/app.js"></script>
</block>