@charset 'utf-8';
@font-face {
  
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
html,
body,
ul,
h1,
h2,
h3,
h4,
p,
dl,
dt,
dd,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style: none;
}
body {
  font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
